# Environment variables
.env

# Testing
test-results/
allure-results/
allure-report/
playwright-report/
**/playwright/.cache/

# Dependencies
node_modules/
package-lock.json


# Logs
logs
*.log


# Temp files
.tmp/
.temp/
tmp/
temp/